nav .list .listItem:nth-child(9) a{
    background-size: 100% 0.15rem;
}
nav .list .listItem:nth-child(9) a:hover{
    background-size: 0% 0.15rem;
}
.whole-faq-container{
    padding: 1rem;
    background:var(--dark-background);
}
.subtitle{
    text-align: center;
    margin: 1.5rem auto;
    margin-top:2rem;
    font-weight: var(--subtitles-nav);
    color: var(--clear-font-color)
}
.subtitle span,
.faqs-container h4{
    color:var(--main-color)
}
.faqs-container{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items:center;
}
.faqs-container .card{
    display:flex;
    flex-direction: column;
    margin: 1.5rem;
    max-width: 15rem
}
.card h4{
    position:relative;
    top:0;
    font-size: 1.1rem;
}
.card p{
    margin-top: 1rem;
    color: var(--clear-font-color);
    font-weight: var(--cards-text);
}